{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="main_image">
            <img src="" alt="">
            <h1 class="main_image_text">건강한 반려문화의 시작</h1>
        </div>
    </div>
    <div class="container_cards">
        <div class="card">
            <div class="card_image">
                <p class="card_text">봉사자 이름?</p>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}