{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/volunteers.css' %}">

<div class="volunteers-banner opacity-75">
    <div class="banner-text">
        <h2>건강한 반려문화의 시작</h2>
        <p>평생을 함께해 주세요</p>
    </div>
</div>

<div class="container-cards mt-5">
    <div class="post-row">
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="../static/images/volunteer_img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">봉사자 이름</h5>
            </div>
        </div>
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="../static/images/volunteer_img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">봉사자 이름</h5>
            </div>
        </div>
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="../static/images/volunteer_img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">봉사자 이름</h5>
            </div>
        </div>
    </div>
    <div class="post-row">
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="../static/images/volunteer_img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">봉사자 이름</h5>
            </div>
        </div>
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="../static/images/volunteer_img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">봉사자 이름</h5>
            </div>
        </div>
        <div class="card my-3 mx-3" style="width: 18rem;">
            <img src="../static/images/volunteer_img.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-text text-center">봉사자 이름</h5>
            </div>
        </div>
    </div>
    <nav aria-label="Page navigation example" class="nav-page mt-5 mb-2">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link text-black-50" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link text-black-50" href="#">1</a></li>
            <li class="page-item"><a class="page-link text-black-50" href="#">2</a></li>
            <li class="page-item"><a class="page-link text-black-50" href="#">3</a></li>
            <li class="page-item"><a class="page-link text-black-50" href="#">4</a></li>
            <li class="page-item"><a class="page-link text-black-50" href="#">5</a></li>
            <li class="page-item">
                <a class="page-link text-black-50" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
{% endblock content %}