{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/volunteers.css">
</head>

<body>
    <div class="container">
        <div class="main-image">
            <img src="{% static 'puppybanner.jpg' %}" alt="">
            <div class="main-image-text">
                <h1>건강한 반려문화의 시작</h1>
                <h4>평생을 함께해 주세요</h4>
            </div>
        </div>
    </div>

    <div class="container-cards">
        <div class="post-row">
            <div class="card">
                <div class="card-image" style="    background-image: url(https://cdn.imweb.me/thumbnail/20221128/74bbe47b25981.jpg);     background-size: cover;
                    background-position: 50% 50%;"></div>
                <span class="card-text">봉사자 이름</span>
            </div>
            <div class="card">
                <div class="card-image" style="    background-image: url(https://cdn.imweb.me/thumbnail/20221128/74bbe47b25981.jpg);     background-size: cover;
                    background-position: 50% 50%;"></div>
                <span class="card-text">봉사자 이름</span>
            </div>
            <div class="card">
                <div class="card-image" style="    background-image: url(https://cdn.imweb.me/thumbnail/20221128/74bbe47b25981.jpg);     background-size: cover;
                    background-position: 50% 50%;"></div>
                <span class="card-text">봉사자 이름</span>
            </div>
        </div>
        <div class="post-row">
            <div class="card">
                <div class="card-image" style="    background-image: url(https://cdn.imweb.me/thumbnail/20221128/74bbe47b25981.jpg);     background-size: cover;
                    background-position: 50% 50%;"></div>
                <span class="card-text">봉사자 이름</span>
            </div>
            <div class="card">
                <div class="card-image" style="    background-image: url(https://cdn.imweb.me/thumbnail/20221128/74bbe47b25981.jpg);     background-size: cover;
                    background-position: 50% 50%;"></div>
                <span class="card-text">봉사자 이름</span>
            </div>
            <div class="card">
                <div class="card-image" style="    background-image: url(https://cdn.imweb.me/thumbnail/20221128/74bbe47b25981.jpg);     background-size: cover;
                    background-position: 50% 50%;"></div>
                <span class="card-text">봉사자 이름</span>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}