{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/volunteers.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..21,100..700,0..1,-50..200"/>
  {% comment %} <div class="volunteers-banner opacity-75">
    <div class="banner-text">
      <h2>건강한 반려문화의 시작</h2>
      <p>평생을 함께해 주세요</p>
    </div>
  </div> {% endcomment %}
  <div class="layout" >
    <div>
      <main id="wrap" class="wrap-list">
        <section class="container">
          <div role="main" class="contents">
            <div class="articles-list">
              {% for vol in v_articles %}
                <div class="articles-list-pre ">
                  <div class="title">
                    <h3>
                      <a href="">
                        {{ vol.title }}
                      </a>
                    </h3>
                    <p>
                      <a href="">
                        {{ vol.content}}
                      </a>
                    </p>
                  </div>
                  <div class="sub">
                    <p class="name">
                      <a href="">
                        {{ vol.user.username }}
                      </a>
                    </p>
                    <div class="wrap-info">
                      <a href="" class="view">
                        <i class="blind">
                          <span class="material-symbols-outlined">
                            visibility
                          </span>
                        </i>
                        {{ vol.hits }}
                      </a>
                      <a class="like" href="">
                        <i class="icon icon-comments_count">
                          <span class="material-symbols-outlined">
                            thumb_up
                          </span>
                        </i>
                        {{ vol.like.all | length }}
                      </a> 
                        <a href="">
                          {{ vol.created_at | date }}
                        </a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <!-- 글작성 버튼 -->
  <div class="d-flex justify-content-center">
    {% if request.user.is_authenticated %}
      <a href="{% url 'volunteers:create' %}">
        <button>글작성</button>
      </a>
    {% else %}
      <a href="{% url 'accounts:login' %}">
        <button>글작성</button>
      </a>
    {% endif %}
  </div>
  <nav aria-label="Page navigation example" class="nav-page mt-5 mb-2">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link text-black-50" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link text-black-50" href="#">1</a>
      </li>
      <li class="page-item">
        <a class="page-link text-black-50" href="#">2</a>
      </li>
      <li class="page-item">
        <a class="page-link text-black-50" href="#">3</a>
      </li>
      <li class="page-item">
        <a class="page-link text-black-50" href="#">4</a>
      </li>
      <li class="page-item">
        <a class="page-link text-black-50" href="#">5</a>
      </li>
      <li class="page-item">
        <a class="page-link text-black-50" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

{% endblock content %}