{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/volunteers.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..21,100..700,0..1,-50..200"/>
  <div>
    <div class="cropped d-flex justify-content-center">
      <img class="cropped_img" src="{% static 'images/volunteer_banner.jpg' %}" alt="">
      <h1 class="main_image_text" style="font-size:70px">Adopt
        <span class="colored_text">
          Animals</span></h1>
      <h1 class="main_image_text_2" style="font-size:70px">Adopt
        <span class="colored_text">
          Family</span></h1>
    </div>
  </div>
  <div class="volunteers-post-section container my-5 ">
    <marquee behavior="scroll" scrolldelay="60" direction="" loop="-1">
      <div class="d-flex row row-cols-5 container">
        {% for use in user %}
          {% if use.volunteer_c == "가능" %}
            <div class="animated-title">
              <div class="col track ">
                <a style="text-decoration:none;" href="{% url 'accounts:detail' use.pk %}">
                  <div class="card h-100 content " style="border-radius: 10px;" id="animatedBackground">
                    {% if use.image %}
                      <img src="{{ use.image.url }}" class="card-img-top" alt="...">
                    {% else %}
                      <img src="{% static 'images/unknown_image.jpg' %}" style="border-radius: 10px;" alt="">
                    {% endif %}
                  </div>
                </a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </marquee>
  </div>

    <div class="container my-5">
      <div class="d-flex justify-content-center mt-5">
          <h3 class="story-font" >봉사자</h3>
      </div>
      <div class="dog-stroke container "></div>
    </div>
    <!-- 글작성 버튼 -->
  <div class=" container  ">
    {% if request.user.is_authenticated %}
      {% if request.user.volunteer_c == '가능' %}
         <div class="container d-flex justify-content-end my-3" style="">
        <a href="{% url 'volunteers:create' %}" class="hover1 cat-create btn text-center">봉사자 글작성</a>
         </div>
      {% else %}
        <p>이동봉사 지원자만 글을 작성할 수 있습니다</p>
      {% endif %}
    {% else %}
      <div class="container d-flex justify-content-end my-3" style="">
        <a href="{% url 'volunteers:create' %}" class="hover1 cat-create btn text-center">봉사자 글작성</a>
      </div>
    {% endif %}
  </div>
     <div  class="layout container" >
      <div class="d-flex justify-content-center">
        <main id="wrap" class="wrap-list">
          <section class="container">
            <div role="main" class="contents">
              <div class="articles-list">
                {% for vol in v_articles %}
                  <div class="articles-list-pre ">
                    <div class="title">
                      <h3>
                        <a href="{% url 'volunteers:detail' vol.pk %}">
                           {% if vol.image %}
                            {{ vol.title |truncatechars:15  }}
                           {% else %}
                            {{ vol.title |truncatechars:30  }}
                          {% endif %}
                        </a>
                      </h3>
                      <p>
                        <a href="{% url 'volunteers:detail' vol.pk %}">
                          {% if vol.image %}
                          {{ vol.content |truncatechars:20 }}
                          {% else %}
                          {{ vol.content |truncatechars:70 }}
                          {% endif %}
                        </a>
                      </p>
                      <span>
                          {% if vol.image %}
                           <img style="width:180px;margin-top:-200px; margin-left:290px;" class="attach-img" src="{{ vol.image.url }}" alt="">
                          {% else %}
                          <img src="" alt="">
                          {% endif %}
                      </span>
                    </div>
                    <div class="sub1">
                      <p>
                        <a class="sub-content" href="">
                          #{{ vol.area}} #{{ vol.adopt_date }} #{{ vol.area }} ~ {{ vol.adopt_location }}
                        </a>
                      </p>
                      <p class="name ">
                        <a href="{% url 'volunteers:detail' vol.pk %}">
                          {{ vol.user.username }}
                        </a>
                      </p>
                      <div class="wrap-info">
                        <a href="{% url 'volunteers:detail' vol.pk %}" class="view">
                          <i class="bi bi-eye"></i>
                          {{ vol.hits }}
                        </a>
                        <a class="like" href="{% url 'volunteers:detail' vol.pk %}">
                          <i class="bi bi-hand-thumbs-up"></i>
                          
                          {{ vol.like.all | length }}
                        </a>    
                          <a href="{% url 'volunteers:detail' vol.pk %}">
                            {{ vol.created_at | timesince }}전
                          </a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section> 
        </main>
      </div>
    </div>
        <nav aria-label="Page navigation example" class="nav-page mt-5 mb-2">
      
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link text-black-50" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link text-black-50" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link text-black-50" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link text-black-50" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link text-black-50" href="#">4</a>
            </li>
            <li class="page-item">
              <a class="page-link text-black-50" href="#">5</a>
            </li>
            <li class="page-item">
              <a class="page-link text-black-50" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </main>
    </div>
  </div>
</div>
{% endblock content %}