@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

.main-title{
  font-family: 'NanumSquareNeo-Variable';
  font-weight: 700;
}

.a-text{
  font-family: 'NanumSquareNeo-Variable';
}

.pet-banner-div {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.pet-banner-img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: brightness(50%);
  top: -80px;
}
.pet-banner-text {
  position: absolute;
  top: 39%;
  right: 32%;
  filter: brightness(100%);
  color: white;
}

ul {
  list-style: none;
}

#dog-banner {
  background-image: url("/static/images/dog_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}



.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.u-btn-outline-primary{
  border: 1px solid #FFCD00;
  width: 20rem;
  height: 4rem;
}

.u-btn-outline-primary:hover{
  background-color: #FFCD00;
  color: white;
}

.date-font{
  color: #FFCD00;
}

.text-left{
  text-align: left!important;
}

.adobt-circle{
  width:150px;  
  background-color: #FFCD00; 
  border-radius: 80px;
}


.right{
  width: 50px;
  height: 50px;
  position: relative;
  top: 50px;
}

.adobt-circle-text{
  position: relative; 
  left: 2rem;
  top: 3.3rem;
  font-size:17px;
  font-family: 'NanumBarunGothic';
}

.adobt-circle-text-1{
  position: relative; 
  left: 2.6rem;
  top: 3.3rem;
  font-size:17px;
  font-family: 'NanumBarunGothic';
}

.adobt-circle-text-2{
  position: relative; 
  left: 2.5rem;
  top: 3.3rem;
  font-size:17px;
  font-family: 'NanumBarunGothic';
}


.circle-adobt{
  margin: 0 auto;
  width: 150px;
  height: 150px;
  background-color: #FFCD00; 
  border-radius: 50%;
}

.adopt-font{
  font-weight: bold;
  font-family: 'NanumSquareNeo-Variable';
}

.adopt-subfont{
  font-family: 'NanumBarunGothic';
}

.adopt-list{
  font-weight: bold;
  font-family: 'NanumSquareNeo-Variable';
}

.adopt-list-div{
display: flex;
justify-content: center;
}

.list-text{
  font-family: 'NanumBarunGothic';
}