@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

.nanumbarungothic * {
 font-family: 'NanumBarunGothic', sans-serif;
}

.pet-banner-div {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.pet-banner-img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: brightness(50%);
  top: -80px;
}
.pet-banner-text {
  position: absolute;
  top: 39%;
  right: 32%;
  filter: brightness(100%);
  color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.u-btn-outline-primary{
  border: 1px solid #FFCD00;
  width: 20rem;
  height: 4rem;
}

.u-btn-outline-primary:hover{
  background-color: #FFCD00;
  color: white;
}

.date-font{
  color: #FFCD00;
}

.text-left{
  text-align: left!important;
}

.a-text{
  font-family: 'NanumSquareNeo-Variable';
}

p{
  font-family: 'NanumBarunGothic';
}

li{
  font-family: 'NanumSquareNeo-Variable';
}