* {
  font-family: "NanumSquareNeo-Variable";
}

.pet-banner-div {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.pet-banner-img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: brightness(50%);
  top: -80px;
}
.pet-banner-text {
  position: absolute;
  top: 39%;
  right: 32%;
  filter: brightness(100%);
  color: white;
}
.pet-banner-text_2 {
  position: absolute;
  top: 73%;
  right: 38%;
  color: white;
}
.banner-logo {
  position: absolute;
  left: 32%;
}
.comment-info {
  max-width: 90%;
  padding: 15px 10px;
  background: #ffec83;
  border-radius: 0 10px 10px 10px;
  /* text-overflow: ellipsis; */
  /* word-break: break-word; */
  font-family: "NanumSquareNeo-Variable";
  text-align: left;
}
.article-upd-del > a:first-child {
  background-color: #b3dfb1;
}
.article-upd-del > a:first-child:hover {
  background-color: #85c18b;
  font-weight: bold;
}
.article-upd-del > a:nth-child(2) {
  background-color: #ffec83;
}
.article-upd-del > a:nth-child(2):hover {
  background-color: #ffcd00;
  font-weight: bold;
}
.article-upd-del > a:nth-child(3) {
  background-color: #ff9899;
}
.article-upd-del > a:nth-child(3):hover {
  background-color: #ff4c4f;
  font-weight: bold;
}

.Nanum {
  font-family: "NanumSquareNeo-Variable";
}

.comment-del-btn {
  border: none;
  background-color: #ff9899;
  border-radius: 10px;
  width: 100px;
  height: 100px;
}
.comment-del-btn:hover {
  box-shadow: 200px 0 0 0 #ff4c4f inset;
}

#divider {
  color: black;
  border-top: 2px solid black;
}
#dog-banner {
  background-image: url("/static/images/dog_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}
#cat-banner {
  background-image: url("/static/images/cat_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}
#pet-info-var-div {
  background-color: #ffcd00;
  color: black;
  font-family: "NanumSquareNeo-Variable";
}
#pet-info-div {
  border: 2px solid #ffcd00;
  font-family: "NanumSquareNeo-Variable";
}
#pet-detail-img {
  max-width: 100%;
  height: auto;
}

.cropped {
  position: relative;

  height: 500px;
  overflow: hidden;
}

.cropped_img {
  position: absolute;

  left: 100;
  width: 100%;
  height: 1280px;
  top: -250px;
  filter: brightness(50%);
}

.main_image_text {
  position: absolute;
  top: 35%;
  left: 4%;
  filter: brightness(100%);
  color: white;
  font-family: "Gothic A1", sans-serif;
}

.main_image_text_2 {
  position: absolute;
  top: 50%;
  left: 11%;
  font-family: "Gothic A1", sans-serif;
  color: white;
}

.colored_text {
  color: #ffcd00;
  font-family: "Gothic A1", sans-serif;
}

.btn-hover:hover {
  background-color: #ffcd00;
  font-weight: bold;
}

.detail-font-title {
  font-size: 24px;
  color: black;
  font-family: "NanumSquareNeo-Variable";
}

.detail-font-text {
  font-size: 13px;
  color: black;
  font-family: "NanumSquareNeo-Variable";
}

.detail-font-main-text {
  font-size: 15px;
  color: black;
  font-family: "NanumSquareNeo-Variable";
}
.comment-post-btn {
  background-color: #ffec83;
}
.comment-post-btn:hover {
  background-color: #ffcd00;
  font-weight: bold;
}
