* {
  font-family: "NanumSquareNeo-Variable";
}
.hover-control:hover {
  box-shadow: 900px 0 0 0 #ffec83 inset;
}
.detail_btn {
  background-color: #ffec83;
}
.detail_btn:hover {
  background-color: #ffcd00;
  font-weight: bold;
}
