a {
  text-decoration: none;
  padding: 10px;
}

#puppy-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#puppy-ul > li {
  margin: 0 0 0 4px;
  padding: 0 0 0 0;
  border: 0;
  float: left;
  position: relative;
  /* display: block; */
  border: 2px solid black;
  border-radius: 1em;
}

#dog-banner {
  background-image: url("/static/images/dog_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}

#cat-banner {
  background-image: url("/static/images/cat_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}

#divider {
  width: 100px;
  margin: 0 auto;
  border-top: 3px solid black;
}

/* .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} */
