a {
  text-decoration: none;
  padding: 10px;
}
.pet-banner-div {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.pet-banner-img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: brightness(50%);
  top: -80px;
}
.pet-banner-text {
  position: absolute;
  top: 39%;
  right: 32%;
  filter: brightness(100%);
  color: white;
}
.pet-banner-text_2 {
  position: absolute;
  top: 73%;
  right: 38%;
  color: white;
}
.banner-logo {
  position: absolute;
  left: 32%;
}
.hover1:hover {
  box-shadow: 200px 0 0 0 #ffcd00 inset;
}

.cat-create {
  background-color: #fff08b;
}
h3.cat-font {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: "NanumSquareNeo-Variable";
}
.cat-stroke {
  display: flex;
  margin-top: -20px;
  background-color: #ffcd00;
  border: 1px solid #ffcd00;
  width: 70px;
}

#puppy-ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#puppy-ul > li {
  margin: 0 0 0 4px;
  padding: 0 0 0 0;
  border: 0;
  float: left;
  position: relative;
  /* display: block; */
  /* border: 1px solid #fff08b; */
  background-color: #fff08b;
  border-radius: 2em;
}

#dog-banner {
  background-image: url("/static/images/dog_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}

#divider {
  width: 100px;
  margin: 0 auto;
  border-top: 3px solid black;
}

/* .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
} */

.cropped {
position: relative;

height: 500px;
overflow: hidden;


}

.cropped_img {
position: absolute; 
  
left: 100;
width: 100%; 
height: 1280px;
top:-250px;
filter:brightness(50%)


}

.main_image_text {
  position: absolute;
  top: 35%;
  left: 4%;
  filter:brightness(100%);
  color: white;
  font-family: 'Gothic A1', sans-serif;   
  }

.main_image_text_2 {
  position: absolute;
  top: 50%;
  left: 11%;
  font-family: 'Gothic A1', sans-serif;   
  color: white;   
  }

.colored_text{
  color:#FFCD00;
}