* {
  font-family: "NanumSquareNeo-Variable";
}

.pet-banner-div {
  position: relative;
  height: 300px;
  overflow: hidden;
}
.pet-banner-img {
  position: absolute;
  object-fit: fill;
  width: 100%;
  height: auto;
  filter: brightness(50%);
  top: -80px;
}
.pet-banner-text {
  position: absolute;
  top: 39%;
  right: 32%;
  filter: brightness(100%);
  color: white;
}
.pet-banner-text_2 {
  position: absolute;
  top: 73%;
  right: 38%;
  color: white;
}
.banner-logo {
  position: absolute;
  left: 32%;
}
.comment-info {
  max-width: 90%;
  padding: 15px 10px;
  background: #ffec83;
  border-radius: 0 10px 10px 10px;
  /* text-overflow: ellipsis; */
  /* word-break: break-word; */
  font-family: "NanumSquareNeo-Variable";
  text-align: left;
}
.article-upd-del > a:first-child {
  background-color: #ffec83;
}
.article-upd-del > a:first-child:hover {
  background-color: #ffcd00;
  font-weight: bold;
}
.article-upd-del > a:nth-child(2) {
  background-color: #ff9899;
}
.article-upd-del > a:nth-child(2):hover {
  background-color: #ff4c4f;
  font-weight: bold;
}

.Nanum {
  font-family: "NanumSquareNeo-Variable";
}

.comment-del-btn {
  border: none;
  background-color: #ff9899;
  border-radius: 10px;
  width: 100px;
  height: 50px;
}
.comment-del-btn:hover {
  box-shadow: 200px 0 0 0 #ff4c4f inset;
}

#divider {
  color: black;
  border-top: 2px solid black;
}
#dog-banner {
  background-image: url("/static/images/dog_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}
#cat-banner {
  background-image: url("/static/images/cat_banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 300px;
  filter: brightness(65%);
  position: relative;
}
#pet-info-var-div {
  background-color: #ffcd00;
  color: black;
  font-family: "NanumSquareNeo-Variable";
}
#pet-info-div {
  border: 2px solid #ffcd00;
  font-family: "NanumSquareNeo-Variable";
}
#pet-detail-img {
  max-width: 100%;
  height: auto;
}
