@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_3206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* search form */
.search-section {
  padding: 10px;
  padding-top: 30px;
}

.search-title {
  flex: 25%;
  margin: auto;
}

.search-form-section {
  align-self: center;

  flex: 75%;
}

form#searchform {
  align-self: flex-end;
  height: 100%;
  max-height: 100%;
}

.search-section form.search-form {
  margin: 0 !important;
}

form.search-form {
  display: inline-block;
  width: 100%;
  border: solid #FFCD00 2PX;
  border-radius: 6px;
}

input#s {
  border: none;
  padding-left: 20px;
  height: 61px;
  font-size: 18px;
}

.search-field {
  float: left !important;
  width: 93% !important;
}

button.search-submit {
  background-color: #FFCD00;
  border-radius: unset;
  height: 63.6px;
  border: 2px solid #FFCD00;
  margin-left: 32px;
  margin-top: 0px;

}

.img-search {
  width: 20px;
}

/* brand name */
#tagline {
  font-size: 1.2vw;
  font-weight: 600;
  color: #707070;
  margin-left: 1.7rem;
  font-family: 'MICEGothic Bold';
}

#brand {
  font-size: 2.5vw;
  font-family: 'MICEGothic Bold';
  color: black;
  margin-left: 1.6rem;

}

/*입양정보*/
.adopted-post-section {
  margin-top: 60px;


}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h3.adopted-font {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: 'NanumSquareNeo-Variable';
}

.adopted-stroke {
  display: flex;
  margin-top: -20px;
  margin-left: 605px;
  background-color: #FFCD00;
  border: 1px solid #ffcd00;
  width: 88px;
}

.category {
  font-family: 'NanumSquareNeo-Variable';
}

.see-more {
  float: right;
  font-size: 14px;
  font-weight: 600;
  color: black;
  font-family: 'NanumSquareNeo-Variable';
}

.post-img {
  object-fit: cover;
  display: block;
  max-height: 210px;
  height: 200px;
  border-radius: 15px 15px 0 0;
  width: 100%;
}

.card {
  border-radius: 15px;
}

.post-title {
  color: black;
  font-family: 'NanumSquareNeo-Variable';
  font-size: 15px;
  font-weight: 600;
}

.post-title:hover {
  color: #FFCD00
}


/* story */

.story-post-section {
  margin-top: 60px;

}

h3.story-font {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: 'NanumSquareNeo-Variable';
}

.story-stroke {
  display: flex;
  margin-top: -20px;
  margin-left: 615px;
  background-color: #FFCD00;
  border: 1px solid #ffcd00;
  width: 65px;
}

.story-card {
  height: 390px;
  width: 350px;
  border-radius: 15px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 60px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
}

.story-card-image {
  -webkit-transition: 0.5s;
  /*사파리 & 크롬*/
  -moz-transition: 0.5s;
  /*파이어폭스*/
  -ms-transition: 0.5s;
  /*인터넷 익스플로러*/
  -o-transition: 0.5s;
  /*오페라*/
  transition: 0.5s;
  border-radius: 15px 15px 0 0;
  margin-top: -10px;
  background-repeat: no-repeat;

}

.story-image {
  width: 385px;
  height: 230px;
  margin-left: -50px;

}

.story-card:hover .story-image {
  opacity: 0.8;
  height: 100px;
}

h1 {
  font-size: 22px;
  font-family: 'NanumSquareNeo-Variable';
  font-weight: bold;
  color: black;
}

.card-body-1 {}

.card-body-header {
  line-height: 25px;
  margin: 10px 20px 10px 20px;
}

.card-body-description {
  opacity: 0;
  color: #757B82;
  line-height: 25px;
  -webkit-transition: .2s ease-in-out;
  /*사파리&크롬*/
  -moz-transition: .2s ease-in-out;
  /*파이어폭스*/
  -ms-transition: .2s ease-in-out;
  /*익스플로러*/
  -o-transition: .2s ease-in-out;
  /*오페라*/
  transition: .2s ease-in-out;
  overflow: hidden;
  height: 180px;
  margin: 5px 20px;
}

.story-card:hover .card-body-description {
  opacity: 1;
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -ms-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;

}

.card-body-hashtag {
  color: #2478FF;
  font-style: italic;
  font-family: 'NanumSquareNeo-Variable';
}

.card-body-footer {
  position: absolute;
  margin-top: 15px;
  margin-bottom: 6px;
  bottom: 0;
  width: 350px;
  font-size: 12px;
  color: #9FA5A8;
  padding: 0 15px;
}

.card-body-nickname {
  color: black;
  font-family: 'NanumSquareNeo-Variable';
}

.icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2px;
  margin-top: -10px;
}

.icon-view_count {
  width: 20px;
  height: 17px;
}

.icon-comments_count {
  margin-left: 5px;
  width: 25px;
  height: 17px;
}

.reg_date {
  float: right;
}

/*volunteer*/
.volunteers-post-section {
  margin-top: 60px;

}

h3.volunteers-font {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: 'NanumSquareNeo-Variable';
}

.volunteers-stroke {
  display: flex;
  margin-top: -20px;
  margin-left: 616px;
  background-color: #FFCD00;
  border: 1.0 px solid #ffcd00;
  width: 65px;
}


/* .animated-title {  
   position: relative; 
   
}

.content{
  display: flex;
  animation:text-scroll 150s linear infinite;
}

@keyframes text-scroll{
  from{
    transform:translateX(40%);
    -moz-transform:translateX(40%);
    -webkit-transform:translateX(40%);
    -o-transform:translateX(40%);
    -ms-transform:translateX(40%);
  }
  to{
    transform:translateX(-450%);
    -moz-transform:translateX(-450%);
    -webkit-transform:translateX(-450%);
    -o-transform:translateX(-450%);
    -ms-transform:translateX(-450%);
  }
}

.work{
  position: relative;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
      opacity:0;
      transform: translate3d(0, 10%, 0);
      
  }
  to {
      opacity:1;
  }
} */