@font-face {
  font-family: 'MICEGothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GothicA1-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/GothicA1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* search form */
.search-section {
  padding: 10px;
  padding-top: 30px;
}

.search-title {
  flex: 25%;
  margin: auto;
}

.search-form-section{
  align-self: center;
  
  flex: 75%;
}
form#searchform { 
  align-self: flex-end;
  height: 100%;
  max-height: 100%;
}
.search-section form.search-form {
  margin: 0!important;
}

form.search-form  {
  display: inline-block;
  width: 100%;
  border: solid #FFCD00 2PX;
  border-radius: 6px;
} 

input#s {
  border: none;
  padding-left: 20px;
  height: 61px;
  font-size: 18px;
}

.search-field {
  float: left!important;
  width: 93%!important;
}

button.search-submit {
  background-color: #FFCD00;
  border-radius: unset;
  height: 63px;
  border: solid #FFCD00 ;
  width: 67px;
  
  top:278px;
  position: absolute;
}

.img-search{
  width: 20px;
}
/* brand name */
#tagline {
  font-size: 1.2vw;
  font-weight: 600;
  color: #707070;
  margin-left: 1.7rem;
  font-family: 'MICEGothic Bold';
}

#brand{
  font-size: 2.5vw;
  font-family: 'MICEGothic Bold';
  color: black;
  margin-left: 1.6rem;
  
}

/*입양정보*/
.adopted-post-section{
  margin-top: 60px;

}

h3.adopted-font{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: 'NanumSquareNeo-Variable';
}

.adopted-stroke{
  display: flex;
  margin-top: -20px;
  margin-left: 590px;
  background-color: #FFCD00;
  border: 1px solid #ffcd00;
  width: 88px;
}

.category{
  font-family: 'NanumSquareNeo-Variable';
}

.see-more{
  float: right;
  font-size: 14px;
  font-weight: 600;
  color:black;
  font-family: 'NanumSquareNeo-Variable';
}

.post-img{
  object-fit: cover;
  display: block;
  max-height: 200px;
  height:140px;
  border-radius: 15px;
  width: 100%;
} 

.card{
  border-radius: 15px;
}

.post-title{
  color: black;
  font-family: 'NanumSquareNeo-Variable';
  font-size: 15px;
  font-weight: 600;
}

.post-title:hover{
  color:#FFCD00
}


/* story */

.story-post-section{
  margin-top: 60px;

}

h3.story-font{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: 'NanumSquareNeo-Variable';
}

.story-stroke{
  display: flex;
  margin-top: -20px;
  margin-left: 605px;
  background-color: #FFCD00;
  border: 1px solid #ffcd00;
  width: 65px;
}

.main-story-img{
  object-fit:cover;
  border-radius: 10px;
  width: 40rem;
  height: 30rem;
}

.main-story-img:hover{
  filter: brightness(80%);
}

.sub-story-img{
  object-fit: cover;
  border-radius: 10px;
  width: 40rem;
  height: 10rem;
}

.sub-story{
  width: 40rem;
  height: 10rem;
  border-radius: 10px;
  border: 1px solid;
}

.main-story{
  width: 40rem;
  height: 30rem;
  border-radius: 10px;
}

.stoy-post{
  width: 40rem;
}
.story-title{
  font-family: 'NanumSquareNeo-Variable';
  font-weight: 600;
}
.story-title1{
  font-family: 'NanumSquareNeo-Variable';
}
.story-title2{
  font-family: 'NanumSquareNeo-Variable';
}

.stories-post{
  width: 40rem;
  left: 1rem;
  height: 14.6rem;
}

.stories-img{
  object-fit: cover;
  height: 14.6rem;
}

/*volunteer*/
.volunteers-post-section{
  margin-top: 60px;

}

h3.volunteers-font{
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  font-family: 'NanumSquareNeo-Variable';
}

.volunteers-stroke{
  display: flex;
  margin-top: -20px;
  margin-left: 616px;
  background-color: #FFCD00;
  border: 1.3px solid #ffcd00;
  width: 65px;
}


.animated-title {  
   position: relative; 
   
}

.content{
  display: inline-block;
  animation:text-scroll 35s linear infinite;
}

@keyframes text-scroll{
  from{
    transform:translateX(40%);
    -moz-transform:translateX(40%);
    -webkit-transform:translateX(40%);
    -o-transform:translateX(40%);
    -ms-transform:translateX(40%);
  }
  to{
    transform:translateX(-90%);
    -moz-transform:translateX(-90%);
    -webkit-transform:translateX(-90%);
    -o-transform:translateX(-90%);
    -ms-transform:translateX(-90%);
  }
}