/* .main-box { width: 100%; height: 500px; overflow: hidden;margin: 0px auto; position: relative; } */
body{
   background-image: url("footprint.png");
   }

 
.cropped {
    position: relative;
    
    height: 760px;
    overflow: hidden;
    
  
    }
    
.cropped_img {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-300px;
    filter:brightness(50%)
    
    
    }

.cropped_2 {
    position: relative;
    
    height: 648px;
    overflow: hidden;
    
    
    }
    
.cropped_img_2 {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-300px;
    
    
    
    }

.undered {
    position: relative;
    
    height: 350px;
    overflow: hidden;
   
    
}
    
    
/* Grey 변환과 동시에 텍스트 컬러 전환 HOVER    
/* .undered_img {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-330px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
    
   
    
    
}

.undered_img:hover ~.undered_text { color:white;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}

.undered_img:hover { color:white;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
} */

.undered_img {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-330px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    
}

.undered_img:hover ~.undered_text { color:#FFCD00;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}

.undered_img:hover { color:white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
   
.undered_img_2 {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-450px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
   
    
}

.undered_img_2:hover ~.undered_text { color:#FFCD00;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}

.undered_img_2:hover { color:white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


.undered_img_3 {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-450px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    
    
}

.undered_img_3:hover ~.undered_text { color:#FFCD00;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}

.undered_img_3:hover { color:white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.undered_text{
    position: absolute;
    bottom: 20%;
    right: 35%;
    filter:brightness(100%);
    color: white;
    font-family: 'Gothic A1', sans-serif;  

}
.undered_text:hover{
    position: absolute;
    bottom: 20%;
    right: 35%;
    filter:brightness(100%);
    color: white;
    font-family: 'Gothic A1', sans-serif;  

}
    
    
    
.undered_img_4 {
    position: absolute; 
    bottom: 500; 		 
    left: 100;
    width: 100%; 
    height: 1280px;
    bottom:-350px;
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    
    
}

.undered_img_4:hover ~.undered_text { color:#FFCD00;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    
}

.undered_img_4:hover { color:white;
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}


    
    
    

.main_logo{
    position: absolute;
    top: 30%;
    left: -4%;

}

.main_image_text {
    position: absolute;
    top: 39%;
    right: 5%;
    filter:brightness(100%);
    color: white;
    font-family: 'Gothic A1', sans-serif;   
    }

.main_image_text_2 {
    position: absolute;
    top: 51%;
    right: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.main_image_text_3 {
    position: absolute;
    top: 20%;
    right: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }

.main_image_text_4 {
    position: absolute;
    top: 35%;
    right: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.main_image_text_5 {
    position: absolute;
    top: 50%;
    right: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }

.main_image_text_6 {
    position: absolute;
    top: 65%;
    right: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.main_image_text_7 {
    position: absolute;
    top: 20%;
    left: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.main_image_text_8 {
    position: absolute;
    top: 35%;
    left: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.main_image_text_9 {
    position: absolute;
    top: 50%;
    left: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.main_image_text_10 {
    position: absolute;
    top: 65%;
    left: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }
.colored_text{
    color:#FFCD00;
}

.center-hr {
    position: absolute;
    right:760px;
    

      }     
.center-hr_2 {
position: relative;

left:33%;


    }  
.undered_link{
    position: absolute;
}




.hideme
{
     opacity:0;
    margin-left:-300px;    
    max-width:100%;
}