.detail-font-title{
    font-size: 24px;
    color: black;
    font-family: 'NanumSquareNeo-Variable';
  }

.detail-font-text{
font-size: 13px;
color: black;
font-family: 'NanumSquareNeo-Variable';
}

.detail-font-main-text{
font-size: 15px;
color: black;
font-family: 'NanumSquareNeo-Variable';
}

.article-upd-del  {
background-color: #ffec83;
}
.article-upd-del:hover {
background-color: #ffcd00;
font-weight: bold;
}

.font-nanum {
  font-family: "NanumSquareNeo-Variable";
}

.hover-control:hover {
  background-color: #ffec83;
}
.detail_btn {
  background-color: #ffec83;
}
.detail_btn:hover {
  background-color: #ffcd00;
  font-weight: bold;
}


