.container {
    min-width: 100%;
    margin: 0;
    padding: 0;
}

.main-image {
    position: relative;
}

.main-image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
}

.container-cards {
    display: flex;
    flex-direction: column;
}

.post-row {
    display: flex;
    flex-direction: row;
}

.card {
    margin: auto;
}

.card-image {
    width: 300px;
    height: 500px;
}

.card-text {
    text-align: center;
}