@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: black;
}

.volunteers-banner {
    min-width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/static/images/volunteers_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    color: white;
    text-align: center;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

/* search form */
.search-section {
    padding: 10px;
    padding-top: 30px;
}

.search-title {
    flex: 25%;
    margin: auto;
}

.search-form-section {
    align-self: center;

    flex: 75%;
}

form#searchform {
    align-self: flex-end;
    height: 100%;
    max-height: 100%;
    margin-left: 16%;
}

.search-section form.search-form {
    margin: 0 !important;
}

form.search-form {
    display: inline-block;
    width: 70%;
    border: solid #FFCD00 2PX;
    border-radius: 6px;
}

input#s {
    border: none;
    padding-left: 20px;
    height: 61px;
    font-size: 18px;
}

.search-field {
    float: left !important;
    width: 93% !important;
}

button.search-submit {
    background-color: #FFCD00;
    border-radius: unset;
    height: 63.6px;
    border: 2px solid #FFCD00;
    margin-left: 27.2px;
    margin-top: 0px;

}

.img-search {
    width: 20px;
}

/* brand name */
#tagline {
    font-size: 1.2vw;
    font-weight: 600;
    color: #707070;
    margin-left: 1.7rem;
    font-family: 'MICEGothic Bold';
}

#brand {
    font-size: 2.5vw;
    font-family: 'MICEGothic Bold';
    color: black;
    margin-left: 1.6rem;

}




a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover {
    color: black;
}

.volunteers-banner {
    min-width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(/static/images/volunteers_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner-text {
    position: absolute;
    color: white;
    text-align: center;
}

div {
    display: block;
}

main {
    display: block;
}

section {
    display: block;
}

.layout {
    display: flex;
    margin-left: 18.3%;
}


p {
    font-family: 'NanumBarunGothic';
    line-height: 1.6em;
    word-wrap: break-word;
    font-size: 16px;
    margin-top: 8px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h3 {
    font-family: 'NanumSquareNeo-Variable';
    line-height: 1.6em;
    word-wrap: break-word;
    font-size: 18px;
    font-weight: 600;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (min-width: 1100px) {
    .articles-list .articles-list-pre:nth-child(2n+1) {
        width: 45%;
        height: 300px;
        padding-right: 20px;
        border-right: 1px solid #eee;
    }

}

@media screen and (min-width: 1100px) {
    .articles-list .articles-list-pre {
        width: 45%;
        height: 300px;
        margin: 0;
        box-sizing: border-box;
        padding-top: 39px;
        padding-bottom: 79px;
    }

}

.container .wrap-list {
    display: flex;
    flex-direction: column;
    max-width: 1340px;
    box-sizing: border-box;
    margin: 0 auto;

}


.articles-list {
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;


}

.articles-list .articles-list-pre {
    position: relative;
    width: 565px;
    margin: 0 0px;
    padding: 24px 30px;
    border: 1px solid #eee;
}

.articles-list .article-list-pre .attach-img-pre .title {
    min-height: 0px;
}

.article-list .article-list-pre .title {
    position: relative;
}


.article-list .article-list-pre {
    position: relative;
}

@media screen and (min-width: 1100px) {
    .articles-list .articles-list-pre .sub {

        bottom: 24px;
        width: 100%;
        min-height: 1px;
        padding-right: 20px;
        box-sizing: border-box;
    }
}

.wrap-info span,
.wrap-info a {
    color: #94969b;

}

.name {
    font-size: 15px;
    position: absolute;
    top: -1rem;
    color: #94969b;
}


.veiw {
    font-family: 'NanumBarunGothic';
}

.like {
    font-family: 'NanumBarunGothic';
}

.area {
    position: absolute;
    top: -30px;
    left: 0px;

}

.area-font {
    color: #2478FF;
    font-size: 13px;
}

.adobt-font {
    color: #2478FF;
    font-size: 13px;
}

.attach-img {
    position: relative;
    top: 30px;
}
.cropped {
    position: relative;
    
    height: 500px;
    overflow: hidden;
    
  
    }
    
.cropped_img {
    position: absolute; 
   	 
    left: 100;
    width: 100%; 
    height: 1280px;
    top:-250px;
    filter:brightness(50%)
    
    
    }

.main_image_text {
    position: absolute;
    top: 39%;
    right: 5%;
    filter:brightness(100%);
    color: white;
    font-family: 'Gothic A1', sans-serif;   
    }

.main_image_text_2 {
    position: absolute;
    top: 51%;
    right: 5%;
    font-family: 'Gothic A1', sans-serif;   
    color: white;   
    }

.colored_text{
color:#FFCD00;
font-family: 'Gothic A1', sans-serif;  
    top: 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.memo {
    font-size: 12px;
    position: absolute;
    top: 9rem;
}

.sub-content {
    font-size: 12px;
    color: #2478FF;
    position: absolute;
    top: -2.3rem;
}

.sub1 {
    position: relative;

}

.wrap-info {
    position: absolute;
    top: 20px;

}

.hover1:hover {
    box-shadow: 200px 0 0 0 #ffcd00 inset;
}

.cat-create {
    background-color: #fff08b;
    display: flex;
    margin-right: 6.5%;
}

.story-font {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    font-family: "NanumSquareNeo-Variable";
}

.dog-stroke {
    display: flex;
    margin-top: -20px;
    background-color: #ffcd00;
    border: 1px solid #ffcd00;
    width: 60px;
}

.dog-stroke1 {
    display: flex;
    margin-top: -20px;
    background-color: #ffcd00;
    border: 1px solid #ffcd00;
    width: 120px;

}

.page-link {
  color: #000; 
  background-color: white;
  border: 1px solid #ccc; 
}

.page-item.active .page-link {
 z-index: 1;
 color: white;
 font-weight:bold;
 background-color: #FFCD00;
 border-color: #FFCD00;
 
}

.page-link:focus, .page-link:hover {
  color: white;
  background-color: #FFCD00; 
  border-color: #FFCD00;
}
.created_at{
    position: relative;
    left: 0rem;
    top: 0rem;
}