{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
<div class="container">
    <h1 class="text-center my-5 fw-bold">Password 변경</h1>
    <form action="{% url 'accounts:change_password' %}" method='POST' style="width:40%; margin:0 auto">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="d-grid">
            <input type="submit" value='비밀번호 변경' class='btn'>
        </div>
    </form>
</div>
{% endblock content %}