{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/accounts_update.css' %}">
<!-- 버튼 -->
<div class="text-center">
    <section class="mx-auto my-5 row d-flex justify-content-center">
        <div class="col-7">
            <a href="{% url 'accounts:update' %}"><button class="btn-white" style="width: 15%;">
                    프로필 수정
                </button></a>
            <a href="{% url 'accounts:change_password' %}"><button class="btn-yellow" style="width: 25%;">비밀번호
                    수정</button></a>
            <a href="{% url 'accounts:delete' %}"><button class="btn-white" style="width: 15%;">탈퇴</button></a>
        </div>
    </section>
</div>

<!-- <h1 class="text-center my-5 fw-bold">비밀번호 변경</h1> -->
<form action="{% url 'accounts:change_password' %}" method='POST' style="width:40%; margin:0 auto">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="text-center"><input type="submit" value='수정 완료' class='btn'></div>
</form>
{% endblock content %}