{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="container">
    <h1 class="text-center my-5 fw-bold">로그인</h1>
    <form action="" method="POST" style="width:50%; margin:0 auto">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="로그인" %}
        <div class="d-flex justify-content-end my-3">
            <a class="float-end text-decoration-none small" href="{% url 'accounts:signup' %}"
                style="color: grey;">회원가입</a>
            <p class="mx-2 my-0 small">|</p>
            <a class="float-start text-decoration-none small" href="#" style="color: grey;">비밀번호 찾기 </a>
        </div>



    </form>
</div>

{% endblock content %}