{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/story_detail.css' %}">

  <div id="container" class="container mt-4" style="max-width:550px;">
    <div class="d-flex justify-content-center mb-2" id="profile">
      {% if note.from_user.image %}
        <img id="profileimage" src="{{ note.from_user.image.url }}" alt="프로필 이미지" style="width: 120px; height:120px;" class="rounded-circle">
      {% else %}
        <img src="https://cdn.discordapp.com/attachments/1044493548071948309/1049236425708666940/review_default_profile_image.jpg" alt="" style="width: 25%; height:25%;" class="rounded-circle">
      {% endif %}
    </div>
    <div id="container" class="container p-0">
      <div class="card" style="border-radius: 18px;" id="cust-card">
        <div class="" style="height: 50px;">
          <p class="detail-font-title mx-3 my-3">To.
            {{ note.to_user.username }}
          </p>
        </div>
        <hr>
        <div class="container ms-3" style="height:300px;">
          <div class=" text-center fs-4 fw-bold detail-font-text">{{ note.title }}</div>
          <div class="fs-5 detail-font-text">
            <p>{{ note.content }}</p>
          </div>

        </div>
        <div style="height:100px;">
          <small class="d-flex justify-content-end mx-3">
            {{ note.created_at|date:'o.m.d' }}
            {{ note.created_at|time:"H:i" }}
          </small>
          <hr>

          <div class="d-flex justify-content-end" style="height: 50px;">
            <p class="detail-font-title me-2">from.&nbsp;
              {{ note.from_user.username }}</p>
          </div>
          <div class="d-flex justify-content-end"></div>

        </div>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <a href="{% url 'articles:index' %}" class="btn detail_btn mx-2 my-3" style="font-family:NanumSquareNeo-Variable;">🔙메인으로</a>
        {% if request.user == note.from_user %}
        {% else %}
          <a href="{% url 'notes:send' note.from_user.pk %}" class="btn detail_btn mx-2 my-3 d-flex justify-content-end" style="font-family:NanumSquareNeo-Variable;">✉️답장하기</a>
        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
