{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/note.css' %}">

  <div>
    <div class="cropped d-flex justify-content-center">
      <img class="cropped_img" src="{% static 'images/mailbox.jpg' %}" alt="">
      <h1 class="main_image_text" style="font-size:70px">Adopt
        <span class="colored_text">
          Animals</span></h1>
      <h1 class="main_image_text_2" style="font-size:70px">Adopt
        <span class="colored_text">
          Family</span></h1>
    </div>
  </div>

  <div class="container fs-5 mt-5">
    <div class="row">
      <div class="col-2">
        <img src="{{ request.user.image.url }}" alt="" style="width:200px;">
        <p class="detail-font-text text-center mt-2" style="font-size:15px;">{{ request.user.username }}</p>
          <div class="article-upd-del text-center">
            <a href="#" class="btn detail_btn2 mx-2 my-3">🔖&nbsp;받은 편지함&nbsp;</a>
            <a href="" class="btn detail_btn2 mx-2 my-3">✍️보낸 편지함 </a>
            
          </div>
      </div>

    </div>
    

    {% comment %} <div class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <th class="fs-2 fw-bold">받은 편지함</th>
          <tr>
            <th scope="col">보낸사람</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
            <th scope="col">읽음여부</th>
          </tr>
        </thead>
        <tbody>
          {% for note in notes %}
            <!--사용자가 받은 편지함-->
            <tr class="text-muted" id="{{note.pk}}">
              <td>{{ note.from_user.username }}</td>
              <!---보낸이 -->
              <td>
                <a class="text-muted" style="text-decoration:none;" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a>
              </td>
              <!---제목 -->
              <td class="">{{ note.created_at|date:'o.m.d' }}
                {{ note.created_at|time:"H:i" }}</td>
              <!---보낸시간 -->
              {% if note.read == 1 %}
                <td>읽음</td>
                <!---읽음 -->
              {% else %}
                <td>안읽음</td>
                <!---읽음 -->
              {% endif %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="container fs-5 mt-4">
    <div id="" class="d-flex justify-content-center">
      <table class="table">
        <thead>
          <th class="fs-2 fw-bold">보낸 편지함</th>
          <tr>
            <th scope="col">받는사람</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
            <th scope="col">읽음여부</th>
          </tr>
        </thead>
        <tbody>
          {% for note in to_notes %}
            <div id="">
              <tr class="text-muted">
                <td>
                  {{note.to_user.username}}
                </td>
                <!---보낸이 -->
                <td>
                  <a class="text-muted" style="text-decoration:none;" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a>
                </td>
                <!---제목 -->
                <td class="">{{ note.created_at|date:'o.m.d' }}
                  {{ note.created_at|time:"H:i" }}</td>
                <!---보낸시간 -->
                {% if note.read == 1 %}
                  <td>읽음</td>
                  <!---읽음 -->
                {% else %}
                  <td>안읽음</td>
                  <!---읽음 -->
                {% endif %}
                <td class=""></td>
              </tr>
            </div>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div> {% endcomment %}

{% endblock %}