{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/send.css' %}">

  <div class="container my-5" style="max-width:500px;">
    <div class="d-flex justify-content-center mb-2" id="">
      {% if request.user.image %}
        <img id="profileimage" src="{{ request.user.image.url }}" alt="프로필 이미지" style="width: 25%; height:25%;" class="rounded-circle">
      {% else %}
        <img src="https://cdn.discordapp.com/attachments/1044493548071948309/1049236425708666940/review_default_profile_image.jpg" style="width: 25%; height:25%;" class="rounded-circle">
      {% endif %}
    </div>

    <fieldset disabled="disabled">
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">👫받는 사람</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{to_user.username}}">
      </div>
    </fieldset>
    <form action="" method="POST" class="">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="text-end">
        {% bootstrap_button button_type="submit" button_class="detail_btn btn-lg container mt-3" content="전송"%}

      </div>
    </form>
  </div>

{% endblock %}