{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% block content %}

<div class="container my-5" style="max-width:500px;">
    <div class="d-flex justify-content-center mb-2" id="">
      {% if request.user.image %}
      <img id="profileimage" src="{{ request.user.image.url }}" alt="프로필 이미지" style="width: 25%; height:25%;" class="rounded-circle">
      {% else %}
      <img src="https://cdn.discordapp.com/attachments/1044493548071948309/1049236425708666940/review_default_profile_image.jpg" style="width: 25%; height:25%;" class="rounded-circle">
      {% endif %}
    </div>
    
    <fieldset disabled>
      <div class="mb-3">
        <label for="disabledTextInput" class="form-label">받는 사람</label>
        <input type="text" id="disabledTextInput" class="form-control" placeholder="{{to_user.username}}">
      </div>
    </fieldset>
    <form action="" method="POST" class="">
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="text-end">
        {% bootstrap_button button_type='submit' content='전송' %}

      </div>
    </form>
</div>


{% endblock %}