{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/dog_cat.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/cat_index.css' %}">
  <div>
    <div class="cropped d-flex justify-content-center">
      <img class="cropped_img" src="{% static 'images/cat_test_banner.jpg' %}" alt="">
      <h1 class="main_image_text" style="font-size:60px">건강한
        <span class="colored_text">반려문화</span>의 시작</h1>
      <h1 class="main_image_text_2" style="font-size:40px">평생을
        <span class="colored_text">함께</span>해 주세요</h1>
    </div>

  </div>

  <div class="container text-center mt-5">
    <h3 class="cat-font">고양이</h3>
    <div class="cat-stroke container"></div>
    <ul id="puppy-ul" class="nav my-4">
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_index" %}" class="nav-link active text-dark">전체</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 1 %}" class="nav-link active text-dark">샴</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 2 %}" class="nav-link active text-dark">페르시안</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 3 %}" class="nav-link active text-dark">스코티쉬폴드</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 4 %}" class="nav-link active text-dark">먼치킨</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 5 %}" class="nav-link active text-dark">브리티쉬숏헤어</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 6 %}" class="nav-link active text-dark">러시안블루</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 7 %}" class="nav-link active text-dark">아메리칸숏헤어</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 8 %}" class="nav-link active text-dark">뱅갈</a>
      </li>
      <li class="hover1 nav-item mt-2">
        <a href="{% url "articles:cat_category" 9 %}" class="nav-link active text-dark">렉돌</a>
      </li>
    </ul>
  </div>
  <div class="container d-flex justify-content-end my-3" style="">
    <a href="{% url 'articles:cat_create' %}" class="hover1 cat-create btn text-center">고양이 글작성</a>
  </div>
      <div  class="layout container" >
      <div class="d-flex justify-content-center">
        <main id="wrap" class="wrap-list">
          <section class="container">
            <div role="main" class="contents">
              <div class="articles-list">
                {% for cat in category_articles %}
                  <div class="articles-list-pre ">
                    <div class="title">
                      <h3>
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.title |truncatechars:15 }}
                        </a>
                      </h3>
                      <p>
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.content |truncatechars:20 }}
                        </a>
                      </p>
                      <p>
                        <a class="memo" href="">
                        특이사항: {{ cat.memo }}
                        </a>
                      </p>
                      <span>
                        <img style="width:150px;margin-top:-200px; margin-left:300px;" class="attach-img" src="{{ cat.image.url }}" alt="">
                      </span>
                    </div>
                    <div class="sub1">
                      <p>
                        <a class="sub-content" href="">
                          #{{ cat.location}} #{{ cat.age }} #{{ cat.gender }} #{{ cat.cat_breed }}
                        </a>
                      </p>
                      <p class="name ">
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.user.username }}
                        </a>
                      </p>
                      <div class="wrap-info">
                        <a href="{% url 'articles:cat_detail' cat.pk %}" class="view">
                          <i class="blind">
                            <span class="material-symbols-outlined">
                              visibility
                            </span>
                          </i>
                          {{ cat.hits }}
                        </a>
                        <a class="like" href="{% url 'articles:cat_detail' cat.pk %}">
                          <i class="bi bi-hand-thumbs-up text-black"></i>
                          {{ cat.like.all | length }}
                         
                        </a> 
                        <span class="text-end">
                          <a  href="{% url 'articles:cat_detail' cat.pk %}">
                            {{ cat.created_at | timesince }}
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section> 
        </main>
      </div>
    </div>


    <div  class="layout container" >
      <div class="d-flex justify-content-center">
        <main id="wrap" class="wrap-list">
          <section class="container">
            <div role="main" class="contents">
              <div class="articles-list">
                {% for cat in page_obj %}
                  <div class="articles-list-pre ">
                    <div class="title">
                      <h3>
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.title |truncatechars:15  }}
                        </a>
                      </h3>
                      <p>
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.content |truncatechars:20  }}
                        </a>
                      </p>
                      <p>
                        <a class="memo" href="">
                        특이사항: {{ cat.memo }}
                        </a>
                      </p>
                      <span>
                        <img style="width:150px;margin-top:-200px; margin-left:300px;" class="attach-img" src="{{ cat.image.url }}" alt="">
                      </span>
                    </div>
                    <div class="sub1">
                      <p>
                        <a class="sub-content" href="">
                          #{{ cat.location}} #{{ cat.age }} #{{ cat.gender }} #{{ cat.cat_breed }}
                        </a>
                      </p>
                      <p class="name ">
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.user.username }}
                        </a>
                      </p>
                      <div class="wrap-info">
                        <a href="{% url 'articles:cat_detail' cat.pk %}" class="view">
                          <i class="bi bi-eye"></i>
                          {{ cat.hits }}
                        </a>
                        <a class="like" href="{% url 'articles:cat_detail' cat.pk %}">
                          <i class="bi bi-hand-thumbs-up"></i>
                          
                          {{ cat.like.all | length }}
                        </a>    
                          <a href="{% url 'articles:cat_detail' cat.pk %}">
                            {{ cat.created_at | timesince }}전
                          </a>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section> 
        </main>
      </div>
    </div>


  <div class="container text-center">
    <ul id="pagination" class="d-flex my-5 d-flex justify-content-center p-5 list-unstyled">
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=1">1</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=2">2</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=3">3</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=4">4</a>
      </li>
    </ul>
  </div>

{% endblock content %}
