{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/dog_cat.css' %}"/>

  <div class="pet-banner-div d-flex justify-content-center">
    <img class="pet-banner-img" src="{% static 'images/cat_banner.jpg' %}" alt="cat_banner">
    <h1 class="pet-banner-text">건강한 반려문화의 시작</h1>
    <p class="pet-banner-text_2 text-center">평생을 함께해 주세요. 반려동물의 삶을 환하게 비춰주세요.</p>
    <div class="banner-logo">
      <img src="{% static 'images/logo_white.png' %}" alt="banner_logo" style="width:300px">
    </div>
  </div>

  <div class="container text-center mt-5">
    <hr class="py-2 justify-content-center align-items-center" id="divider"/>
    <h1>고양이</h1>
    <ul id="puppy-ul" class="nav my-4">
      <li class="hover1 nav-item mt-2">
        <a href="#" class="nav-link active text-dark">전체</a>
      </li>
      {% for obj in cat_articles %}
        {% for breed in obj.breed_list %}
          <li class="hover1 nav-item mt-2">
            <a href="#" class="nav-link active text-dark">{{ breed.0 }}</a>
          </li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>

  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3">
      {% for object in page_obj %}
        <div class="col">
          <a href="{% url 'articles:cat_detail' object.pk %}" class="card-link">
            <div class="card">
              {% if object.image %}
                <img src="{{ object.image.url }}" class="card-img-top" alt="cat_image">
              {% else %}
                <img src="https://dummyimage.com/550x500/000/454545" class="card-img-top" alt="dummy_image">
              {% endif %}
              <div class="card-body text-dark">
                <h5 class="card-title">{{ object.name }}
                  /
                  {{ object.age }}살 /
                  {% if object.gender == '암컷' %}
                    <span>공주님</span>
                  {% else %}
                    <span>왕자님</span>
                  {% endif %}
                </h5>
                <p class="card-text" id="dog-card-text">{{ i.memo }}
                  <br>
                  조회수:
                  {{ object.hits }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container text-center">
    <ul id="pagination" class="d-flex my-5 d-flex justify-content-center p-5 list-unstyled">
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=1">1</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=2">2</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=3">3</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=4">4</a>
      </li>
    </ul>

    <a href="{% url 'articles:cat_create' %}" class="hover1 cat-create btn text-center">글쓰기</a>
  </div>

{% endblock content %}
