{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dog_cat_detail.css' %}">
  <div class="bg-image w-100 d-flex flex-column align-items-center justify-content-center text-light" id="cat-banner">
    <div class="text-center">
      <h2 class="mb-4">건강한 반려문화의 시작</h2>
      <p>평생을 함께해 주세요</p>
    </div>
  </div>
  <div class="container mt-4">
    <h2>글제목{{ cat_article.title }}</h2>
    <hr id="divider">
  </div>
  <div class="container">
    <h2 class="text-center mb-3">입양동물정보</h2>
    <div class="text-center">
      {% comment %} DB에서 가져와서 이미지 삽입예정 {% endcomment %}
      {% comment %} <img id="cat-detail-img" class="mb-4 w-25 rounded" src="{{ cat_article.image }}" alt="cat_article.image"> {% endcomment %}
      <img id="pet-detail-img" class="mb-4 w-25 rounded" src="{{ cat_article.image.url }}" alt="cat_article.image">
    </div>
    <div class="row">
      <div id="pet-info-var-div" class="col-1 text-center py-3">이름</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.name }}</div>
      <div id="pet-info-var-div" class="col-1 text-center py-3">나이</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.age }}</div>
    </div>
    <div class="row mt-1">
      <div id="pet-info-var-div" class="col-1 text-center py-3">성별</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.gender }}</div>
      <div id="pet-info-var-div" class="col-1 text-center py-3">묘종</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.breed }}</div>
    </div>
    <div class="row mt-1">
      <div id="pet-info-var-div" class="col-1 text-center py-3">접종유무</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.vaccination }}</div>
      <div id="pet-info-var-div" class="col-1 text-center py-3">중성화유무</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.neutered }}</div>
    </div>
    <div class="row mt-1">
      <div id="pet-info-var-div" class="col-1 text-center py-3">지역</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.location }}</div>
      <div id="pet-info-var-div" class="col-1 text-center py-3">특이사항</div>
      <div id="pet-info-div" class="col-5 text-center py-3">{{ cat_article.memo }}</div>
    </div>
  </div>
  {{ cat_article.title }}
  <a href="{% url 'articles:cat_update' cat_article.pk %}" class="btn detail_btn2 mx-2 my-3">글수정</a>
  <a href="{% url 'articles:cat_delete' cat_article.pk %}" class="btn detail_btn2 my-3">글삭제</a>

  <h4 class="my-3">댓글</h4>
  <form id="cat-comment-form" data-article-id="{{ cat_article.pk }}">
    {% csrf_token %}
    {% bootstrap_form cat_comment_form %}
    {% bootstrap_button button_type="submit" content="OK" %}
  </form>
  <hr>
  <p>{{ cat_comments.count }}개의 댓글이 있습니다.</p>
  <div id="cat-comments">
    {% for cat_comment in cat_comments %}
        <p> {{ cat_comment.user.username }} | {{ cat_comment.content }}</p>
        <a href="{% url 'articles:cat_comments_delete' cat_article.pk cat_comment.pk %}" class="btn detail_btn2 my-3">댓글 삭제</a>
        <hr>    
    {% empty %}
        <p>댓글이 없어요 ㅠ_ㅠ</p>
    {% endfor %}
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    const commentForm = document.querySelector('#cat-comment-form')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value;
    commentForm.addEventListener('submit', function (event) {
      event.preventDefault();
      axios({
        method: 'post',
        url: `/${event.target.dataset.articleId}/cat/comments/`,
        headers: {
          'X-CSRFToken': csrftoken
        },
        data: new FormData(commentForm) // 폼에 있는 정보를 data로 넘겨줄 수 있도록 변환
      }).then(response => {
        console.log(response.data)
        // 댓글을 추가하는 로직
        const comments = document.querySelector('#cat-comments')
        const p = document.createElement('p')
        p.innerText = `${response.data.cat_userName} | ${response.data.cat_content}`
        const hr = document.createElement('hr')
        comments.append(p, hr)
        commentForm.reset()
      })
    })
  </script>
{% endblock %}
