{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/dog_cat.css' %}">
  <div class="bg-image w-100 d-flex flex-column align-items-center justify-content-center text-light" id="dog-banner">
    <div class="text-center">
      <h2 class="mb-4">건강한 반려문화의 시작</h2>
      <p>평생을 함께해 주세요</p>
    </div>
  </div>

  <div class="container text-center mt-5">
    <hr class="py-2 justify-content-center align-items-center" id="divider">
    <h1>강아지</h1>
    <ul id="puppy-ul" class="nav my-4">
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">전체</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">요크셔테리어</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">푸들</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">시바견</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">이탈리안그레이하운드</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">포메라니안</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">아주 긴 견종이름 어쩌고 저쩌고</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">좀 짧은 견종이름</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">견종이름입니다</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">견종이름</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">견종명</a>
      </li>
      <li class="nav-item mt-2">
        <a href="#" class="nav-link active text-dark">견종6</a>
      </li>
    </ul>
  </div>

  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3">
        {% for i in page_obj %}
            <div class="col">
                <a href="#" class="card-link">
                    <div class="card">
                        {% if i.image %}
                            <img src="{{ i.image.url }}" class="card-img-top" alt="dog">
                        {% else %}
                            <img src="https://dummyimage.com/550x500/000/454545" class="card-img-top" alt="...">
                        {% endif %}
                        <div class="card-body text-dark">
                            <h5 class="card-title">{{ i.name }} / {{ i.age }} / {{ i.gender }}</h5>
                            <p class="card-text" id="dog-card-text">{{ i.memo }} <br> 조회수: {{ i.hits }}</p>
                        </div> 
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<ul id="pagination" class="d-flex my-5 d-flex justify-content-center p-5">
    <li class="mx-2 rounded"><a class="border border-0 text-muted" href="?page=1">1</a></li>
    <li class="mx-2 rounded"><a class="border border-0 text-muted" href="?page=2">2</a></li>
    <li class="mx-2 rounded"><a class="border border-0 text-muted" href="?page=3">3</a></li>
    <li class="mx-2 rounded"><a class="border border-0 text-muted" href="?page=4">4</a></li>
</ul>


  <a href="{% url 'articles:dog_create' %}" class="nav-link btn nav_btn me-1">강아지 글작성</a>
{% endblock content %}