{% extends 'base.html' %}
{% load static %}
{% comment %} navbar 받아옴 {% endcomment %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/dog.css' %}">
    <div class="container text-center">
        <div class="has-bg-img">
                <h1>건강한 반려문화의 시작</h1>
                <h5>평생을 함께해 주세요</h5>
                <img src="{% static 'images/puppybanner.jpg' %}" alt="PetBanner">
                <div class="border-top border-4 border-secondary w-25 container">
                </div>
        </div>
    </div>

    <div class="container text-center mt-5">
        <h1>강아지</h1>
        <div id="dog-categories" class="container w-50 border">
            <ul id="puppy-ul">
                <li id="puppy-li">요크셔테리어</li>
                <li id="puppy-li">푸들</li>
                <li id="puppy-li">시바견</li>
                <li id="puppy-li">이탈리안그레이하운드</li>
                <li id="puppy-li">포메라니안</li>
                <li id="puppy-li">말티즈</li>
            </ul>
        </div>
    </div>
        {% comment %} 강아지 카드로 보여주기 {% endcomment %}
    <div class="container text-center">
        <div class="row row-cols-1 row-cols-md-3 mt-5">
            {% comment %} {% for card in cards %} {% endcomment %}
            <div class="col">
              <div class="card mt-5">
                <img src="{% static 'images/doge.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">커여운 강아지 입양</p>
                  <h5 class="card-title">시바견</h5>
                </div>
              </div>
            </div>
            {% comment %} {% endfor %} {% endcomment %}
            <div class="col">
              <div class="card mt-5">
                <img src="{% static 'images/doge.jpg' %}" class="card-img-top" alt="dog">
                <div class="card-body">
                    <p class="card-text">커여운 강아지 입양</p>
                    <h5 class="card-title">시바견</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mt-5">
                <img src="{% static 'images/doge.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">커여운 강아지 입양</p>
                    <h5 class="card-title">시바견</h5>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card mt-5">
                <img src="{% static 'images/doge.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">커여운 강아지 입양</p>
                    <h5 class="card-title">시바견</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock content %}