{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/dog_cat.css' %}">
  <div>
    <div class="cropped d-flex justify-content-center">
      <img class="cropped_img" src="{% static 'images/dog_test_banner.jpg' %}" alt="">
      <h1 class="main_image_text" style="font-size:60px">건강한
        <span class="colored_text">반려문화</span>의 시작</h1>
      <h1 class="main_image_text_2" style="font-size:40px">평생을
        <span class="colored_text">함께</span>해 주세요</h1>
    </div>

  </div>
  <div class="container text-center mt-5">
    <hr class="py-2 justify-content-center align-items-center" id="divider">
    <h1>강아지</h1>
    <ul id="puppy-ul" class="nav my-4">
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_index" %}" class="nav-link active text-dark">전체</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 1 %}" class="nav-link active text-dark">요크셔테리어</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 2 %}" class="nav-link active text-dark">푸들</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 3 %}" class="nav-link active text-dark">시바견</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 4 %}" class="nav-link active text-dark">이탈리안그레이하운드</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 5 %}" class="nav-link active text-dark">포메라니안</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 6 %}" class="nav-link active text-dark">비숑프리제</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 7 %}" class="nav-link active text-dark">골든 리트리버</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 8 %}" class="nav-link active text-dark">말티즈</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 9 %}" class="nav-link active text-dark">웰시코기</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 10 %}" class="nav-link active text-dark">시츄</a>
      </li>
      <li class="nav-item mt-2">
        <a href="{% url "articles:dog_category" 11 %}" class="nav-link active text-dark">보더콜리</a>
      </li>
    </ul>
  </div>

  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3">
        {% for category_article in category_articles %}
        <div class="col">
          <a href="{% url 'articles:dog_detail' category_article.pk %}" class="card-link">
            <div class="card">
              <img src="{{ category_article.image.url }}" class="card-img-top" alt="dog">
              <div class="card-body text-dark">
                <h5 class="card-title">
                  {{ category_article.name }}
                  /
                  {{ category_article.age }}
                  /
                  {% if category_article.gender == '암컷' %}
                    <span>공주님</span>
                    {% else%}
                    <span>왕자님</span>
                  {% endif %}
                </h5>
                <p class="card-text" id="dog-card-text">{{ category_article.memo }}
                  <br>
                  조회수:
                  {{ category_article.hits }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container text-center">
    <div class="row row-cols-1 row-cols-md-3">
      {% for i in page_obj %}
        <div class="col">
          <a href="{% url 'articles:dog_detail' i.pk %}" class="card-link">
            <div class="card">
              <img src="{{ i.image.url }}" class="card-img-top" alt="dog">
              <div class="card-body text-dark">
                <h5 class="card-title">
                  {{ i.name }}
                  /
                  {{ i.age }}
                  /
                  {% if i.gender == '암컷' %}
                    <span>공주님</span>
                    {% else%}
                    <span>왕자님</span>
                  {% endif %}
                </h5>
                <p class="card-text" id="dog-card-text">{{ i.memo }}
                  <br>
                  조회수:
                  {{ i.hits }}</p>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>

  <div class="container text-center">
    <ul id="pagination" class="d-flex my-5 d-flex justify-content-center p-5">
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=1">1</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=2">2</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=3">3</a>
      </li>
      <li class="mx-2 rounded">
        <a class="border border-0 text-muted" href="?page=4">4</a>
      </li>
    </ul>
    <a href="{% url 'articles:dog_create' %}" class="hover1 cat-create btn text-center">강아지 글작성</a>
  </div>

{% endblock content %}