{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}

  {% if request.resolver_match.url_name == 'dog_create' %}
    <!--resolver_match = 어떤 url을 통해서 왔는지 검사하는 인스턴스, 따라서 create url로 왔는지 여부를 검사 -->
    <p class="text-center fw-bold mb-3">글 작성</p>
  {% else %}
    <p class="text-center fw-bold mb-3">글 수정</p>
  {% endif %}
  <div class="d-flex justify-content-center align-items-center m-auto mt-5">

    <form action="" method="POST" enctype="multipart/form-data">

      {% csrf_token %}
      {% bootstrap_form dog_article_form %}
      {% bootstrap_button button_type="submit" button_class="detail_btn w-100" content="OK"%}
    </form>
  </div>
  <div id="map" style="width:100%;height:350px;"></div>    
  <p><em>마커를 드래그 해주세요!</em></p>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e6496a8841e6155cd7af237e16b93602"></script>
<script>
  var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
  mapOption = { 
      center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
      level: 3 // 지도의 확대 레벨
  };

  var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

  // 마커가 표시될 위치입니다 
  var markerPosition = new kakao.maps.LatLng(33.450701, 126.570667); 

  // 마커를 생성합니다
  var marker = new kakao.maps.Marker({
    position: markerPosition
  });

  // 마커가 지도 위에 표시되도록 설정합니다
  marker.setMap(map);

  // 마커가 드래그 가능하도록 설정합니다 
  marker.setDraggable(true); 
</script>
{% endblock %}