{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <div class="container">
    <div class="search-section d-flex container">
      <div class="search-title">
        <h4 id="tagline">가족이 되어주세요</h4>
        <h3 id="brand">입양해듀오</h3>
      </div>
      <div class="search-form-section">
        <form role="search" method="GET" action="{% url 'articles:search' %}" class="search-form" id="searchform">
          <input name="searchs" id="s" class="search-field" type="text" placeholder="검색어를 입력해주세요" aria-label="Search">
          <button class="search-submit" type="submit">
            <img class="img-search" src="{% static 'images/search.png' %}" alt="">
          </button>
        </form>
      </div>
    </div>
    <div class="adopted-post-section container work">
      <h3 class="adopted-font work-dog">입양정보</h3>
      <div class="adopted-stroke work-dog"></div>
      <div class="adopted-post-subsection">
        <div class="adopted-post-meta">
          <span class="category work-dog">🐶&nbsp;강아지</span>
          <a href="{% url 'articles:dog_index' %}">
            <span class="see-more work-dog">더보기</span>
          </a>
        </div>
        <p></p>
        <div class="row row-cols-5 work-dog">
          {% for dog in dog_articles %}
            <div class="col  ">
              <a style="text-decoration:none;" href="{% url 'articles:dog_detail' dog.pk  %}">
                <div class="card h-100">
                  <img src="{{ dog.image.url }}" class="card-img-top post-img" alt="...">
                  <div class="card-body" style="height:auto">
                    <h5 class="post-title">{{ dog.title }}</h5>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="adopted-post-section">
        <div class="adopted-post-subsection">
          <div class="adopted-post-meta">
            <span class="category work-cat work">🐱&nbsp;고양이</span>
            <a href="{% url 'articles:cat_index' %}">
              <span class="see-more work-cat work">더보기</span>
            </a>
          </div>
          <p></p>
          <div class="row row-cols-5 work">
            {% for cat in cat_articles %}
              <div class="col ">
                <a style="text-decoration:none;" href="">
                  <div class="card h-100">
                    <img src="{{ cat.image.url }}" class="card-img-top post-img" alt="...">
                    <div class="card-body">
                      <h5 class="post-title">{{ cat.title }}</h5>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="story-post-section container work">
      <h3 class="story-font">스토리</h3>
      <div class="story-stroke"></div>
      {% for story in stories %}
      <a href="{% url 'stories:detail' story.pk %}"> <!-- 클릭 시 링크 설정 -->
        <div class="card story-card">
          <!-- 카드 헤더 -->
          <div class="card-header story-card-image" >
            <img class="story-card-image story-image "src="{{ story.image.url }}" alt="">
          </div>
          <!--  카드 바디 -->
          <div class="card-body-1">
            <!--  카드 바디 헤더 -->
            <div class="card-body-header">
              <h1>{{ story.title }}</h1>
              <p class="card-body-hashtag">#{{ story.breed }}</p>
               <p class="card-body-nickname"> 
                                      작성자: {{ story.user.username }}
                              </p>
            </div>
            <p class="card-body-description"> 
              {{ story.content }}
            </p>
            <!--  카드 바디 본문 -->
      
            <!--  카드 바디 푸터 -->
            <div class="card-body-footer">
              <hr style="margin-bottom: 8px; opacity: 0.5; border-color: #EF5A31">
              <i class="icon icon-view_count">
                <span class="material-symbols-outlined">
                visibility
                </span>
              </i>&nbsp;조회 {{ story.hits }}회
              <i class="icon icon-comments_count">
                <span class="material-symbols-outlined">
                  thumb_up
                  </span>
              </i>좋아요 {{ story.like.all | length }}
              <i class="reg_date"> {{ story.created_at }} </i>     
            </div>       
          </div>            
        </div>
        {% endfor %}
        </a>
    </div>
    <div class="volunteers-post-section container work">
      <h3 class="volunteers-font">봉사자</h3>
      <div class="volunteers-stroke"></div>
      <div class="volunteers-post-subsection">
        <p></p>
        <div class="row row-cols-5">
          {% comment %} {% for dog in dog_articles %} {% endcomment %}
            <div class="animated-title wrap">
              <div class="col track ">
                <a style="text-decoration:none;" href="volunteers:index" >
                  <div class="card h-100 content">
                    {% if user.volunteer_c == "가능" %}
                      <img src="{{ user.image.url }}" class="card-img-top" alt="...">
                    {% endif %}
                  </div>
                </a>>
              </div>
            </div>
          {% comment %} {% endfor %} {% endcomment %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
