{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <link rel="stylesheet" href="{% static 'css/adopt.css' %}">

  <div class="bg-image w-100 d-flex flex-column align-items-center justify-content-center text-light" id="dog-banner">
    <div class="text-center">
      <h2 class="mb-4 text-white">건강한 반려문화의 시작</h2>
      <p>평생을 함께해 주세요</p>
    </div>
  </div>
  <section class="container my-5 d-flex justify-content-center">
    <div class="row">
      <div class="col-6 col-md-4">
        <a class="btn btn-block btn-md u-btn-outline-primary g-py-10 g-py20--md g-my10 g-my-15--md" href="{% url 'articles:information' %}">
          <span class="material-symbols-outlined flight">
            flight
          </span>
          <br>
          해외이동봉사
        </a>
      </div>
      <div class="col-6 col-md-4">
        <a class="btn btn-block btn-md u-btn-outline-primary g-py-10 g-py20--md g-my10 g-my-15--md" href="{% url 'articles:info_adopt' %}">
          <span class="material-symbols-outlined desc">
            description
          </span>
          <br>
          입양절차
        </a>
      </div>
      <div class="col-6 col-md-4">
        <a class="btn btn-block btn-md u-btn-outline-primary g-py-10 g-py20--md g-my10 g-my-15--md" href="{% url 'articles:info_declartation' %}">
          <span class="material-symbols-outlined smart">
            smartphone
          </span>
          <br>
          학대신고
        </a>
      </div>
    </div>
  </section>
  <hr class="my-5 container" style="width:1000px;">
  <section class="container  g-mb-120">
    <div>
      <div class="d-flex justify-content-center my-3">
        <h4>입양절차</h4>
      </div>
      <div class="d-flex justify-content-center">
        <div class="g-rounded-50x circle-adobt ">
          <span class="d-inline-block text-center adobt-circle-text ">
            입양신청서
            <br>
            작성
          </span>
        </div>
        <div class="g-rounded-50x circle-adobt ">
          <span class="d-inline-block text-center adobt-circle-text-1 ">
            신청서
            <br>
            검토
          </span>
        </div>
        <div class="g-rounded-50x circle-adobt ">
          <span class="d-inline-block text-center adobt-circle-text-2 ">
            입양
            <br>
            상담
          </span>
        </div>
        <div class="g-rounded-50x circle-adobt ">
          <span class="d-inline-block text-center adobt-circle-text ">
            입양확정 후
            <br>
            가정방문
          </span>
        </div>
      </div>
      <div class="row d-flex justify-content-center my-5">
        <div class="col-lg-8">
          <p class="text-center adopt-font">입양신청서 작성 후 입양상담까지는 약 2-4주가 소요됩니다.</p>
          <p class="text-center">입양 상담은 선별된 분에 한하여 담당 활동가와 전화를 통해 진행되는 점 참고해 주세요.</p>
        </div>
      </div>
      <div>
        <p class="text-center adopt-list">입양 전 확인해 주세요</p>
        <ul>
          <li>입양해듀오의 입양원칙을 따라야 합니다.</li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </div>
    </div>
  </section>

{% endblock content %}
