{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="/static/css/introduction.css">

  <div class="d-flex justify-content-center">
    <img src="{% static 'pet.png' %}" alt="" style="width:24rem; ">
  </div>
  <hr>

  <h1 class="d-flex justify-content-center">
    About Us
  </h1>
  <h6 class="d-flex justify-content-center mt-4">회사소개</h6>

  <video class="main-box mt-5" src="{% static 'images/main page.mp4' %}" muted="muted" controls="controls" autoplay="autoplay" loop="loop"></video>

{% endblock %}
