{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% comment %} 검색 바 {% endcomment %}
<section class="container my-5">
  <div class="">
    <div class="search-form-section my-5">
      <form role="search" method="GET" action="{% url 'articles:search' %}" class="search-form" id="searchform">
        <input name="searchs" id="s" class="search-field" type="text" placeholder="검색어를 입력해주세요" aria-label="Search">
        <button class="search-submit" type="submit">
          <img class="img-search" src="{% static 'images/search.png' %}" alt="">
        </button>
      </form>
    </div>
  </div>
  {% comment %} 강아지 검색 {% endcomment %}
  <h3 style="margin-left:128px;">강아지</h3>
  {% if not dogs %}
    <p style="margin-left:128px;" class="no-search title-font">"{{ query }}" 검색결과가 없습니다.</p>
  {% else %}
    <div class="layout" >
      <div>
        <main id="wrap" class="wrap-list">
          <section class="container">
            <div role="main" class="contents">
              <div class="articles-list">
                {% for dog in dogs %}
                  <div class="articles-list-pre ">
                    <div class="title">
                      <h3>
                        <a href="{% url 'articles:dog_detail' dog.pk %}">
                          {{ dog.title |truncatechars:20 }}
                        </a>
                      </h3>
                      <p>
                        <a href="{% url 'articles:dog_detail' dog.pk %}">
                          {{ dog.content |truncatechars:20 }}
                        </a>
                      </p>
                      <p>
                        <a class="memo" href="">
                        특이사항: {{ dog.memo }}
                        </a>
                      </p>
                      <span>
                        <img style="width:150px;margin-top:-200px; margin-left:300px;" class="attach-img" src="{{ dog.image.url }}" alt="">
                      </span>
                    </div>
                    <div class="sub1">
                      <p>
                        <a class="sub-content" href="">
                          #{{ dog.location}} #{{ dog.age }} #{{ dog.gender }} #{{ dog.dog_breed }}
                        </a>
                      </p>
                      <p class="name ">
                        <a href="{% url 'articles:dog_detail' dog.pk %}">
                          {{ dog.user.username }}
                        </a>
                      </p>
                      <div class="wrap-info">
                        <a href="{% url 'articles:dog_detail' dog.pk %}" class="view">
                          <i class="blind">
                            <i class="bi bi-eye"></i>
                          </i>
                          {{ dog.hits }}
                        </a>
                        <a class="like" href="{% url 'articles:dog_detail' dog.pk %}">
                          <i class="icon icon-comments_count">
                            <i class="bi bi-hand-thumbs-up"></i>
                          </i>
                          {{ dog.like.all | length }}
                        </a> 
                        <span class="text-end">
                          <a  href="{% url 'articles:dog_detail' dog.pk %}">
                            {{ dog.created_at | timesince }}
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section> 
          <a href="{% url 'articles:dog_index' %}">
          <p style="margin-left:15px;">더 보기</p>
          </a>
        </main>
      </div>
    </div>
  {% endif %}


  {% comment %} 고양이 검색 {% endcomment %}
  <h3 style="margin-left:128px;">고양이</h3>
  {% if not cats %}
    <p style="margin-left:128px;" class="no-search title-font">"{{ query }}" 검색결과가 없습니다.</p>
  {% else %}
    <div class="layout" >
      <div>
        <main id="wrap" class="wrap-list">
          <section class="container">
            <div role="main" class="contents">
              <div class="articles-list">
                {% for cat in cats %}
                  <div class="articles-list-pre ">
                    <div class="title">
                      <h3>
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.title |truncatechars:20 }}
                        </a>
                      </h3>
                      <p>
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.content |truncatechars:20  }}
                        </a>
                      </p>
                      <p>
                        <a class="memo" href="">
                        특이사항: {{ cat.memo }}
                        </a>
                      </p>
                      <span>
                        <img style="width:150px;margin-top:-200px; margin-left:300px;" class="attach-img" src="{{ cat.image.url }}" alt="">
                      </span>
                    </div>
                    <div class="sub1">
                      <p>
                        <a class="sub-content" href="">
                          #{{ cat.location}} #{{ cat.age }} #{{ cat.gender }} #{{ cat.cat_breed }}
                        </a>
                      </p>
                      <p class="name ">
                        <a href="{% url 'articles:cat_detail' cat.pk %}">
                          {{ cat.user.username }}
                        </a>
                      </p>
                      <div class="wrap-info">
                        <a href="{% url 'articles:cat_detail' cat.pk %}" class="view">
                          <i class="blind">
                          <i class="bi bi-eye"></i>
                          </i>
                          {{ cat.hits }}
                        </a>
                        <a class="like" href="{% url 'articles:cat_detail' cat.pk %}">
                          <i class="icon icon-comments_count">
                            <i class="bi bi-hand-thumbs-up"></i>
                          </i>
                          {{ cat.like.all | length }}
                        </a> 
                        <span class="text-end">
                          <a href="{% url 'articles:cat_detail' cat.pk %}">
                            {{ cat.created_at | timesince }}
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section> 
            <a href="{% url 'articles:cat_index' %}">
          <p style="margin-left:15px;">더 보기</p>
          </a>
        </main>
      </div>
    </div>
  {% endif %}


  {% comment %} 스토리 검색 {% endcomment %}
  <h3 style="margin-left:128px;">스토리</h3>
  {% if not stories %}
    <p style="margin-left:128px;" class="no-search title-font">"{{ query }}" 검색결과가 없습니다.</p>
  {% else %}
       <div class="layout" >
      <div>
        <main id="wrap" class="wrap-list">
          <section class="container">
            <div role="main" class="contents">
              <div class="articles-list">
                {% for story in stories %}
                  <div class="articles-list-pre ">
                    <div class="title">
                      <h3>
                        <a href="{% url 'stories:detail' story.pk %}">
                          {% if story.image %}
                          {{ story.title |truncatechars:20 }}
                          {% else %}
                          {{ story.title |truncatechars:30 }}
                          {% endif %}
                        </a>
                      </h3>
                      <p>
                        <a href="{% url 'stories:detail' story.pk %}">
                        {% if story.image %}
                          {{ story.content |truncatechars:20 }}
                          {% else %}
                          {{ story.content |truncatechars:40 }}
                          {% endif %}
                        </a>
                      </p>
                      <p>
                        　
                      </p>
                      <span>
                        {% if story.image %}
                          <img style="width:150px; height: 130px; margin-top:-180px; margin-left:300px;" class="attach-img" src="{{ story.image.url }}" alt="">
                          {% else %}
                          <img src="" alt="">
                        {% endif %}
                      </span>
                    </div>
                    <div class="sub1">
                      <p>
                        　
                      </p>
                      <p class="name ">
                        <a href="{% url 'stories:detail' story.pk %}">
                          {{ story.user.username }}
                        </a>
                      </p>
                      <div class="wrap-info">
                        <a href="{% url 'stories:detail' story.pk %}" class="view">
                          <i class="blind">
                            <i class="bi bi-eye"></i>
                          </i>
                          {{ story.hits }}
                        </a>
                        <span class="text-end">
                          <a  href="{% url 'stories:detail' story.pk %}">
                            {{ story.created_at | timesince }}
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              </div>
            </div>
          </section> 
          <a href="{% url 'stories:index' %}">
          <p style="margin-left:15px;">더 보기</p>
          </a>
        </main>
      </div>
    </div>
  {% endif %}
</section>
{% endblock content %}