{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/search.css' %}">
{% comment %} 검색 바 {% endcomment %}
<section class="container my-5">
<div>
  <div class="search-form-section">
    <form role="search" method="GET" action="{% url 'articles:search' %}" class="search-form" id="searchform">
      <input name="searchs" id="s" class="search-field" type="text" placeholder="검색어를 입력해주세요" aria-label="Search">
      <button class="search-submit" type="submit">
        <img class="img-search" src="{% static 'images/search.png' %}" alt="">
      </button>
    </form>
  </div>
</div>
<hr>
{% comment %} 강아지 검색 {% endcomment %}
<div>
  {% if not dogs %}
    <p class="no-search title-font">"{{ query }}" 검색결과가 없습니다.</p>
  {% else %}
  <ul>
    {% for dog in dogs %}
    <li>
      {% if dog.image %}
        <img src="{{ dog.image.url }}"> 
      {% else %}
        <img src="https://dummyimage.com/200x200/000/454545">
      {% endif %}
      <a href="{% url 'articles:dog_detail' dog.pk %}"><h5>{{ dog.title }}</h5></a>
      <p>{{ dog.name}} | {{ dog.breed }} | {{ dog.age }}</p>
    {% endfor %}
  {% endif %}
    </li>
  </ul>
</div>
<hr>
{% comment %} 고양이 검색 {% endcomment %}
<div>
  <h3>고양이</h3>
  {% if not cats %}
    <p class="no-search title-font">"{{ query }}" 검색결과가 없습니다.</p>
  {% else %}
    {% for cat in cats %}
      {% if cat.image %}
        <img src="{{ cat.image.url }}"> 
      {% else %}
        <img src="https://dummyimage.com/200x200/000/454545">
      {% endif %}
      <a href="{% url 'articles:cat_detail' cat.pk %}"><h5>{{ cat.title }}</h5></a>
      <p>{{ cat.name}} | {{ cat.breed }} | {{ cat.age }}</p>
    {% endfor %}
  {% endif %}
</div>
<hr>
{% comment %} 스토리 검색 {% endcomment %}
<div>
  <h3>스토리 </h3>
  {% if not stories %}
    <p class="no-search title-font">"{{ query }}" 검색결과가 없습니다.</p>
  {% else %}
    {% for story in stories %}
      {% if story.image %}
        <img src="{{ story.image.url }}"> 
      {% else %}
        <img src="https://dummyimage.com/200x200/000/454545">
      {% endif %}
      <a href="{% url 'stories:detail' story.pk %}"><h5>{{ story.title }}</h5></a>
      <p> {{ story.name }} | {{ story.breed }}</p>
    {% endfor %}
  {% endif %}
</div>
</section>
{% endblock content %}