{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS only -->
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}{% endblock css %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="crossorigin">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gothic+A1:wght@800&family=Inter&family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div>
        <!-- 1번째 navbar -->
        <nav class="navbar navbar-expand-xl p-0 top-nav navbar-small ">
          <div class="container-fluid w-100 container">
            <a class="navbar-brand top-nav-a mx-5 p-0" href="{% url 'articles:index' %}">입양해듀오</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="small-collapse collapse navbar-collapse" id="navbarSupportedContent"></div>
            {% if request.user.is_authenticated %}
              <a class="nav-link ms-2 top-nav-accounts" href="{% url 'accounts:logout' %}">로그아웃</a>
              <a class="nav-link ms-2 top-nav-accounts" href="{% url 'accounts:detail' request.user.pk %}">마이페이지</a>
            {% else %}
              <a class="nav-link ms-2 top-nav-accounts" href="{% url 'accounts:login' %}">로그인</a>
              <a class="nav-link ms-2 top-nav-accounts" href="{% url 'accounts:signup' %}">회원가입</a>
            {% endif %}
          </div>
        </div>
      </nav>
      <div>
        <!-- 2번째 navbar -->
        <nav class="navbar navbar-expand-xl botton-nav p-0 navbar-small ">
          <div class="container-fluid w-100 container">
            <div class="small-collapse collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
              <a href="{% url 'articles:index' %}">
                <img src="{% static 'images/logo.png' %}" alt="" class="bottom-nav-logo">
              </a>
              <ul class="navbar-nav  mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link nav-font" href="{% url 'articles:introduction' %}">입양해듀오</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-font" href="{% url 'articles:dog_index' %}">강아지</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-font" href="{% url 'articles:cat_index' %}">고양이</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-font" href="{% url 'articles:index' %}">스토리</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-font" href="#">봉사자</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link nav-font" href="{% url 'articles:information' %}">분양절차</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  {% block content %}{% endblock content %}
  {% bootstrap_javascript %}
  <footer class="text-center">
    <div class="position-sticky bottom-0 w-100 d-flex justify-content-center mt-5 py-5" style="color:black; background-color: #FFCD00;">
      <div class="py-2">
        <p class="m-0 fw-0">
          Copyright ⓒ 2022 입양해듀오.com, All Rights Reserved.
          <br>
          Made with 이주현 & 이동희 & 서민수 & 현지수 & 김교민 & 이종은 & 이현성
        </p>
      </div>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
  {% block script %}{% endblock script %}
</body>

</html>