{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/story_form.css' %}">
  <div class="container my-5 rounded">
    <h1 class="text-center my-5 mx-auto fw-bold">스토리 글 작성</h1>
  </div>
  <div class="container py-2">
    <form action="" method="POST" enctype="multipart/form-data" style="width:40%; margin:0 auto">
      {% csrf_token %}
      {% bootstrap_form form %}
      <input type="file" name="image" style="cursor:pointer;" multiple="multiple"><br/><br/>
      <input type="submit" class="btn write_btn" value="글쓰기">
      <a href="{% url 'stories:index' %}" class="btn back_btn">뒤로</a>
    </form>
  </div>
</div>
{% endblock content %}