{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock css %}

{% block content %}
 <span class="d-none">{{ stories.update_hits }}</span>
<div style="box-sizing:border-box; border-top: 1px solid; border-bottom: 1px solid;" class="mt-3">
  <!-- title -->
  <div style="border-bottom: 1px solid">
    <h2>{{ stories.title }}</h2>
  </div>
  <!-- username, etc -->
  <div style="align-items: center; display: flex;">
    <span style="font-size: 12px;">{{ stories.user.username }}</span>
    <div class="justify-content-end">
      <span style="font-size: 12px;">{{ stories.created_at|date:"Y.m.d H:i" }}</span> |
      <span style="font-size: 12px;">{{ stories.updated_at|date:"Y.m.d H:i" }}</span>
    </div>
  </div>
</div>
<div class="container">
  <p>{{ stories.content }}</p>
</div>
<div class="container">
  <h4>댓글</h4>
  {% if request.user.is_authenticated %}
  <div>
    <form action="{% url 'stories:comment_create' stories.pk %}" method="POST">
      {% csrf_token %}
      {% bootstrap_form comment_form layout="inline" %}
      <input type="submit" class="btn byn-primary" value="댓글쓰기">
    </form>
  </div>
  {% endif %}
</div>
<hr>
<div class="container">
  {% for comment in comment_view %}
  <div class="row">
    <span>{{ comment.user.username }}</span>
    <div class="float-end d-flex">
      <span>{{ comment.created_at|date:"Y.m.d" }}</span>
      <a href="{% url 'stories:comment_delete' stories.pk comment.pk %}">삭제</a>
    </div>
  </div>
  <div>
    {{ comment.content }}
  </div>
  {% endfor %}
</div>
{% endblock content %}