{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}
{% endblock css %}

{% block content %}
<div class="container">
  <h3>Stories</h3>
  {% if request.user.is_authenticated %}
  <a href="{% url 'stories:create' %}" class="btn btn-primary">작성</a>
  {% endif %}
</div>
<div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">번호</th>
        <th scope="col">제목</th>
        <th scope="col">작성자</th>
        <th scope="col">작성일</th>
      </tr>
    </thead>
    <tbody>
      {% for stories in stories %}
      <tr>
        <th scope="row">{{ stories.pk }}</th>
        <td><a href="{% url 'stories:detail' stories.pk %}">{{ stories.title }}</a></td>
        <td>{{ stories.user }}</td>
        <td>{{ stories.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div>
  </div>
</div>
{% endblock content %}